<h3>Estadísticas</h3>
<p> - Numero de preguntas: <%= nquizes %></p>
<p> - Numero de comentarios totales: <%= ncomments %></p>
<p> - Numero medio de comentarios por pregunta: <%= media %></p>
<p> - Numero de preguntas sin comentarios: <%= nquizeswithoutcomments %></p>
<p> - Numero de preguntas con comentarios: <%= nquizeswithcomments %></p>

